node_modules
**/node_modules
.next
out

# Теперь мы игнорируем .env.local (чтобы он не попал в образ)
.env.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.git
.gitignore
docker-compose.yml
