# Исключаем локальную node_modules, чтобы не передавать их в контекст сборки
node_modules
**/node_modules

# Исключаем файлы сборки Next.js, они появятся при сборке образа из builder-слоя
.next
out

# Исключаем файлы с конфиденциальными данными
.env
.env.local
.env.*.local

# Логи, IDE-конфигурации и прочее
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Git-репозиторий
.git
.gitignore

# Dockerfile и .dockerignore не исключаем сами, но можно исключить docker-compose и подобные
docker-compose.yml
.DS_Store